asgiref==3.2.7
certifi==2019.11.28
chardet==3.0.4
Django==3.1.6
idna==2.9
psycopg2-binary==2.8.4
python-decouple==3.3
python-dotenv==0.12.0
pytz==2019.3
requests==2.23.0
South==1.0.2
sqlparse==0.3.1
urllib3==1.25.8
