<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static '../static/css/styles.css' %}">

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="crossorigin=""></script>

    <title>Django Weather {% block tile %}{% endblock %}</title>

</head>
<body>

    <!--Navbar-->
    {% include 'partials/_navbar.html' %}
    <div class="container">
        <div class="row">
                {% block content %}{% endblock %}
        </div>

    </div>


    <script>
        //Adds todays date to navbar
        document.getElementById("date").innerHTML = Date();

        //Map  -- creates, adds controls, sets markers for each of user's cities
        mapboxgl.accessToken = 'pk.eyJ1IjoiaGF5LTBsZSIsImEiOiJjazhrZ3RuZ3QwMXF1M2ZvMDZsdGo5YmVqIn0.57JkL1uYa7ZdJccsH4yEQg';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-77.0, 39.0],
            zoom: 1
        });

        map.addControl(new mapboxgl.NavigationControl());

        map.on('load', () => {

            $.getJSON('/static/data/coordinates.geojson', (geojson) => {

                geojson.features.forEach((marker) => {

                    let element = document.createElement('div');
                    element.className = 'marker';
                    
                    element.innerHTML = marker.properties.is_home === 'True' ? 
                        '<i class="fa fa-home"></i>' : '<i class="fas fa-map-marker-alt"></i>'

                    element.style.width = marker.properties.iconSize[0] + 'px';
                    element.style.height = marker.properties.iconSize[1] + 'px';
                    
                    element.addEventListener('click', function() {
                        window.alert(marker.properties.message);
                    });
                    
                    // add marker to map
                    new mapboxgl.Marker(element)
                    .setLngLat(marker.geometry.coordinates)
                    .addTo(map);
                });
            }).fail(function (jqxhr, status, error) { 
                console.log('error: ', status, error) }
            );
        })
   
    </script>
</body>
</html>